/* Ini Css */

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    nav>a {
        padding: 8px;
    }

    .banner-img {
        height: 200px; 
    }
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav>a {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 8px; /* Jarak antar link */
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s; /* Efek hover */
}

nav>a:hover {
    background-color: #007bff;
    color: white;
}

.home-icon {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}


.banner-img {
    height: 320px;
    background-size: cover;
    background-position: center;
    display: flex;
}

.banner-1{
    background-image: url("https://picsum.photos/id/29/4000/2670");
}

.banner-2{
    background-image: url(https://picsum.photos/id/25/5000/3333);
}

.mySlides {
    height: 320px;
    background-size: cover;
    background-position: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 18px;
    transform: translateY(-50%);
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.content-header {
    text-align: center;
}

.main-container {
    display: flex;
    gap: 24px;
}

.main-item {
    flex: 1;
}

form {
    background-color: gainsboro; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.our-packages-header {
    background-color: blue;
    margin-top: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}

footer span {
    font-size: 14px;
    color: #666;
}

.tesitimonial {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content {
    height: 500px;
}
